/* ==== General styles ==== */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
}

:root {
  --text-color: #120302;
  --text-color2: #ffffff;
  --primary-hover: #cd7d7c;
  --background-color: #ffbf69;
  --background-color2: #cbf3f0;
  --background-color3: #333333;
  --navbar-height: 60px;
}

.header {
  background-color: var(--background-color);
  display: flex;
  width: 100%;
}

.menu__wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 2;
}

.menu__bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 24px;
  gap: 32px;
  background-color: var(--background-color);
  height: 60px;
  opacity: 0.9;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 60px;
  margin-right: 50px;
  padding: 0px;
  background-color: var(--background-color);
}

.logo {
  margin-left: 50px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.navigation > li > a {
  color: black;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    var(--primary-hover),
    var(--primary-hover) 50%,
    black 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navigation > li > a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.navigation > li > a:hover {
  background-position: 0;
}

.navigation > li > a:hover::before {
  width: 100%;
}

.container__title {
  display: flex;
  align-items: center;
  width: 50%;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-left: 8em;
}

.container__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin-right: 3em;
}

.container__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  list-style: none;
}

.header__menu-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-left: 8.5em;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
}

.header__content__information {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header__content__title {
  font-size: 7em;
  color: var(--text-color2);
  position: relative;
  bottom: 49px;
}

.header__content_p {
  width: 100%;
  font-weight: 500;
  position: relative;
  color: var(--text-color2);
  bottom: 150px;
}

.header__content__button {
  width: 200px;
  height: 50px;
  border: 0;
  position: relative;
  bottom: 100px;
  font-size: 1.5em;
  background-color: var(--background-color2);
  color: black;
}

.header_content_img {
  width: 80vh;
  position: left;
  padding-bottom: 20vh;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container__section_1 {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.main__container__section__title_1 {
  color: var(--text-color);
  font-size: 1.5em;
  text-align: center;
}

.main__container__section__p {
  color: var(--text-color);
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 300;
}

#pop-it-section {
  display: flex;
  gap: 16px;
  padding: 16px 0px;
  width: 100%;
  flex-direction: row;
  overflow: auto;
  align-self: center;
}

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  flex-direction: row;
  overflow: auto;
}

.carousel__product {
  appearance: none;
  text-decoration: none;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  height: 220px;
  width: 208px;
  display: flex;
  flex: 0 0 208px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  scroll-snap-align: start;
}

.container__carousel {
  align-items: center;
  justify-content: center;
}

.main__container__section_2 {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color2);
}

.carousel__product__img {
  width: 150px;
  height: 150px;
}

.carousel__product__text {
  color: var(--text-color);
  margin-top: 1em;
  margin-bottom: 1em;
}

.carousel__product__button {
  border: 0px;
  background-color: var(--background-color);
  width: 100px;
  height: 60px;
  color: var(--text-color);
  font-size: 19px;
  font-weight: 500;
  padding: 5px 10px;
}

.main__container__section_3 {
  height: 500px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(img/bg-grid.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.main__container__section_3_img {
  width: 40vh;
  height: 30vh;
  margin-left: 3em;
  margin-bottom: 5em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--background-color3);
  height: 100px;
}

.footer__option__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.footer__option__item__link {
  text-decoration: none;
  color: var(--text-color2);
  font-weight: 200;
}

.footer__option__item__link.first {
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 600px) {
  .navigation {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .main__container__section_1 {
    width: 80%;
  }

  .main__container__section_3_content {
    margin-top: 50px;
  }

  .main__container__section_3 {
    flex-direction: column;
  }

  #carousel {
    justify-content: start;
  }

  .navigation--mobile {
    top: var(--navbar-height);
    position: absolute;
    right: 0px;
    display: flex;
    margin: none;
    background-color: var(--background-color);
    gap: 8px;
    flex-direction: column;
    align-items: flex;
    opacity: 0.95;
    animation: fadein 0.3s forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
    }
  }

  .navigation--mobile--fadeout {
    animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
    }
    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

@media (max-width: 916px) {
  .container__title {
    margin-left: 1em;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    width: 100%;
    background-size: 60vh;
    background-position: right;
  }

  .header__content__information {
    width: 420px;
  }

  .container__nav {
    width: 80%;
  }

  .footer {
    height: 150px;
    width: 100%;
  }

  .footer__option__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 8px 32px 8px;
  }
}